<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

 <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
 <style>
  body{
   font-family: arial;
  }
 .navbar-collapse{
  transition: height 0.1s;
  transition-delay: 0;
  max-height: none;
  height: 100vh;
 }
  .navbar-collapse.collapsing{
   height: 0 !important;
   transition-delay: 0;
  }
 </style>
 {% if title %}
  <title>{{ title }}</title>
 {% else %}
  <title>Flask bBoard App</title>
 {% endif %}

</head>
<body>
 <header class="site-header">
  <nav class="navbar bg-primary fixed-top navbar-dark">
   <div class="container">
    <a href="#" class="navbar-brand mr-4">Flask bBoard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbar" aria-expanded="false" aria-label="Toggle Navigation">
     <span>MENU</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggle">
      <!-- Left side nav -->
     <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
       <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>
     </ul>

      <!-- Right side nav  -->
      <div class="navbar-nav mr-auto">
      <a href="{{ url_for('login') }}" class="nav-item nav-link">Log In</a>
      <a href="{{ url_for('signup') }}" class="nav-item nav-link">Sign Up</a>
     </div> 

    </div>
   </div>
  </nav>
 </header>

<main role="main" class="container" style="margin-top: 80px;">
 <div class="row"> 
   <div class="col-md-8">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
   </div>
   <div class="col-md-4">
    <div class="content-section">
     <h3>Overview</h3>
     <p class="text-muted">
      Information 
     <ul>
      <li>Latest Posts</li>
      <li>Announcement</li>
      <li>Calendars</li>
      <li>etc etc</li>
     </ul>
     </p>
    </div>
   </div>
 </div>
</main>



 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script>
// reduce delay jerk on navbar reveal
 $(function() { $.support.transition = false })
 
</script>  

</body>
</html>